<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="22829bhargavgolla.RFCReader" Publisher="CN=F997DD9A-93F3-450D-A48B-8158DCDE9049" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RFC Reader</DisplayName>
    <PublisherDisplayName>bhargavgolla</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RFC_Reader.App">
      <VisualElements DisplayName="RFC Reader" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="RFC Reader" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>